# Required: BotFather token
BOT_TOKEN=8103052058:AAGqjQm-d0GEQLviHRuaOSFYmxbJt9epKcQ

# Required for Telegram Mini App button. Must be HTTPS in production.
# Examples:
# WEBAPP_URL=https://your-domain.com
# WEBAPP_URL=https://your-ngrok-url.ngrok-free.app
WEBAPP_URL=https://bot11-l7t4.onrender.com

# Server port
PORT=3000

# Optional: production/development
NODE_ENV=production

# Optional: automatically set Telegram menu button to open Mini App
SET_MENU_BUTTON=true

# Optional: text shown by the bot
BOT_TITLE=AQU Coin

AUTO_DELETE_WEBHOOK=true

DROP_PENDING_UPDATES=true

ADMIN_PASSWORD=admin12345

ADMIN_IDS=

DEV_MODE=false